.container {
  width: 100%;
}

table {
  width: 100%;
}

button {
  position: absolute;
  margin-top: 10px;
  right:    0;
}

.content {
  display: flex;
  flex-direction: row;
}

.container-classes {
  width: 65%; 
}

.search {
  width: 35%; 
  padding: 0px 0px 20px 20px;
}

#identity {
  padding: 25px 0;
  background: #fff;
}
