.container {
  width: 100%;
}

table {
  width: 100%;
}

.content {
  display: flex;
  flex-direction: row;
}

.container-classes {
  width: 85%; 
}

.search {
  width: 15%; 
  padding: 0px 0px 20px 20px;
}

.btn {
  text-align: end;
}

#identity {
  padding: 25px 0;
  background: #fff;
}
