#identity {
  padding: 25px 0;
  background: #fff;
}
.sign-in-card {
  min-width: 520px;
  width: 60%;
  padding: 5em;
}

.flex-col {
  display: flex;
  flex-direction: column;
  margin-left: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
  place-content: space-around;
}