<div class="flex-row">
    <div class="flex-col">
        <div id="identity">
            <h1>Student Login</h1>
        </div>
        <mat-card class="sign-in-card">
            <form class="flex-col" [formGroup]="signInForm" (ngSubmit)="onSubmit()">
                <mat-form-field appearance="outline">
                    <mat-label>Username</mat-label>
                    <input matInput type="text" 
                        formControlName="username" 
                        autocomplete="off" 
                        required/>
                    <mat-error *ngIf="f.username.errors && f.username.errors!.required">Username is required</mat-error>
                    <mat-error *ngIf="showMessage">Username does not exist</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput 
                        formControlName="password" 
                        autocomplete="off" 
                        required/>
                    <mat-error *ngIf="f.password.errors && f.password.errors!.required">Password is required</mat-error>
                    <mat-error *ngIf="pwdNotMatch">Password does not match username</mat-error>
                </mat-form-field>

                <div class="btn">
                    <button mat-stroked-button color="accent" type="submit" [disabled]="loading" class="btn btn-primary">
                        <a  class="btn btn-link">Login</a>
                    </button>
                </div>
            </form>
        </mat-card>
    </div>
</div>
