<div class="flex-row">
    <div class="flex-col">
        <div id="identity">
            <h1>Student Enrollment</h1>
        </div>
        <mat-card class="sign-up-card">
            <form class="flex-col" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
                <mat-form-field appearance="outline">
                    <mat-label>Username</mat-label>
                    <input (input)="cleanErrors()" matInput 
                        formControlName="username" 
                        autocomplete="off" 
                        required/>
                    <mat-error *ngIf="f.username.errors && f.username.errors!.required">Username is required</mat-error>
                    <mat-error *ngIf="showMessage">Username is already taken</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput 
                        formControlName="password" 
                        autocomplete="off" 
                        required/>
                    <mat-error *ngIf="f.password.errors && f.password.errors!.required">Password is required</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input matInput 
                        formControlName="first_name" 
                        autocomplete="off" 
                        required/>
                    <mat-error *ngIf="f.first_name.errors && f.first_name.errors!.required">First name is required</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input matInput 
                        formControlName="last_name" 
                        autocomplete="off" 
                        required/>
                    <mat-error *ngIf="f.last_name.errors && f.last_name.errors!.required">Last name is required</mat-error>
                </mat-form-field>

                <div class="btn">
                    <button mat-stroked-button color="accent" type="submit" [disabled]="loading" class="btn btn-primary">
                        <a  class="btn btn-link">Enroll</a>
                    </button>
                </div>
            </form>
        </mat-card>
    </div>
</div>

