<!-- Toolbar -->
<div class="header" role="banner">
  <!-- <img width="40" alt="Cornell Logo" src="?" /> -->
  <div class="navbar-flex">
    <div class="navbar-items">
      <a routerLink="/home"> Cornell ECE Enrollment </a>
    </div>
    <div class="navbar-items">
      <a routerLink="/sign-in"> Login </a>
    </div>
    <div class="navbar-items">
      <a routerLink="/sign-up"> SignUp </a>
    </div>
    <div class="navbar-items">
      <a> Browse </a>
    </div>
  </div>
</div>

<div class = 'main'>

 <router-outlet></router-outlet>
</div>