<!-- Toolbar -->
<div class="header" role="banner">
  <!-- <img width="40" alt="Cornell Logo" src="?" /> -->
  <div class="navbar-flex">
    <div class="navbar-items">
      <h1> CORNELL SCHEDULER </h1>
    </div>
    <button routerLink="roster" mat-stroked-button type="submit" class="btn btn-primary">
      <a class="btn btn-link">Browser</a>
    </button>
    <div *ngIf=" user ==='' ">
      <button routerLink="sign-in" mat-stroked-button type="submit" class="btn btn-primary">
        <a class="btn btn-link">Login</a>
      </button>
    </div>
    <div *ngIf=" user != '' ">
      <button routerLink="sign-out" mat-stroked-button type="submit" class="btn btn-primary">
        <a class="btn btn-link">Logout</a>
      </button>
    </div>
    <button routerLink="sign-up" mat-stroked-button type="submit" class="btn btn-primary">
      <a class="btn btn-link">SignUp</a>
    </button>
  </div>
</div>

<div class = 'main'>

 <router-outlet></router-outlet>
</div>