.title-container {
    display: flex;
    flex-direction: column;
    background: #f2f2f2;
    font-size: 1.6em;
    font-weight: 300;
    background: rgba(0,0,0,0.05);
    border-left: 3px solid #b31b1b;
    padding: 0.5em 66px 0.5em 0.75em;
  }
  
  .title-code {
    height: 100%;
    text-align: left;
    padding-right: 0.5em;
    font-weight: bold;
    float: left;
  }

  .title-rating {
    font-weight: bold;
    color: blue;
  }

.number {
    display: flex;
    color: blue;
    font-size: 1.6em;
}

.keywords {
    display: flex;
    flex-direction: row;
}

  .flex-item {
    flex: 33%;
  }

.tags {
  color: blue;
  font-size: 1.3em;
}