<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>EnrollmentApp</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&amp;display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="/static/styles.css"></head>
<body class="mat-typography">
  <app-root></app-root>
  <script src="/static/default~sign-in-sign-in-module~sign-up-sign-up-module.js" defer></script>
  <script src="/static/default~dashboard-dashboard-module~sign-in-sign-in-module~sign-up-sign-up-module.js" defer></script>
  <script src="/static/default~dashboard-dashboard-module~roster-roster-module~sign-in-sign-in-module~sign-up-sign-up-module.js" defer></script>
  <script src="/static/default~roster-roster-module~sign-in-sign-in-module~sign-up-sign-up-module.js" defer></script>
  <script src="/static/default~dashboard-dashboard-module~sign-up-sign-up-module.js" defer></script>
  <script src="/static/dashboard-dashboard-module.js" defer></script>
  <script src="/static/sign-up-sign-up-module.js" defer></script>
  <script src="/static/sign-out-sign-out-module.js" defer></script>
  <script src="/static/sign-in-sign-in-module.js" defer></script>
  <script src="/static/roster-roster-module.js" defer></script>
  <script src="/static/runtime.js" defer></script>
  <script src="/static/polyfills.js" defer></script>
  <script src="/static/vendor.js" defer></script>
  <script src="/static/main.js" defer></script>
</body>
  </html>
